In [4]:
tuple_info=('kamga','fotso','datascientist')
#les tuples sont non modifiables
tuple_info[1]="francis"

TypeError: 'tuple' object does not support item assignment

In [8]:
tuple_info=('kamga','francis','datascientist')
nom,prenom,metier=tuple_info
print("\n voici vos informations: \n",nom,"\n",prenom,"\n",metier)

 voici vos informations:
 kamga
 francis
 datascientist

In [25]:
# Python program to Print unique rows in a
# given boolean matrix using Set with tuples

# Function to print unique rows in a given boolean matrix

def uniqueRows(input):
    

	# convert each row (list) into tuple
	# we are mapping tuple function on each row of
	# input matrix
	input = map(tuple, input)
    print("\n",input)

	# put all rows in set
	result = set(input)
      print("\n",result)
    print("\n",list(result))
    

	# print all unique rows
	for row in list(result):
		print (row)

# Driver program
if __name__ == "__main__":
	input = [[0, 1, 0, 0, 1],
			[1, 0, 1, 1, 0],
			[0, 1, 0, 0, 1],
			[1, 1, 1, 0, 0]]
	uniqueRows(input)

IndentationError: unindent does not match any outer indentation level (<tokenize>, line 12)

In [3]:
input=[[0, 1, 0, 0, 1],
            [1, 0, 1, 1, 0],
            [0, 1, 0, 0, 1],
            [1, 1, 1, 0, 0]]
input = map(tuple, input)
print("\n",input)
result = set(input)
print("\n",result)
print("\n",list(result))

 <map object at 0x7fbaa73a02b0>

 {(0, 1, 0, 0, 1), (1, 0, 1, 1, 0), (1, 1, 1, 0, 0)}

 [(0, 1, 0, 0, 1), (1, 0, 1, 1, 0), (1, 1, 1, 0, 0)]

In [1]:
input=[[0, 1, 0, 0, 1],
            [1, 0, 1, 1, 0],
            [0, 1, 0, 0, 1],
            [1, 1, 1, 0, 0]]
rep=[]
rep.append(input[len(input)-1])



for i in range(len(input)):
    for j in range(i+1,len(input)):
        if(((input[i]==input[j]) and (input[i] not in rep))or((input[i]!=input[j]) and (input[i] not in rep))):
            rep.append(input[i])
print(rep)

[[1, 1, 1, 0, 0], [0, 1, 0, 0, 1], [1, 0, 1, 1, 0]]

In [8]:
# quelques petits operations sur les sets
tab=["kamga","francis","fotso","datascientist"]
tab=set(tab)
print("\n voici vos informations",tab)

tab.update(["tchassem","kounga","tony","datascientist"])
print("\n voici vos informations",tab)

tab.discard("tony")
print(tab)

 voici vos informations {'fotso', 'kamga', 'francis', 'datascientist'}

 voici vos informations {'tony', 'kounga', 'kamga', 'tchassem', 'fotso', 'francis', 'datascientist'}
{'kounga', 'kamga', 'tchassem', 'fotso', 'francis', 'datascientist'}

In [12]:
print(dict([("nom","kamga fotso"),("prenom","francis"),("metier","datascentist"),("diplome",{"bac","licence","master"})]))

{'nom': 'kamga fotso', 'prenom': 'francis', 'metier': 'datascentist', 'diplome': {'bac', 'master', 'licence'}}

In [17]:
dic1={}
dic1.update({"lotto":[12,13,44]})
print(dic1)

{'lotto': [12, 13, 44]}